.singUp{
    background-color: rgb(240, 240, 240);
    margin: auto;
    margin-top: 50px;
    max-width: 400px;
    width: 90%;
    border-radius: 2%;
    border-style: solid;
    border-width: 2px;
}
.singUpTitle{
    display: flex;
    justify-content: space-between;
    padding:20px;
}
.singUpTitle span{
    font-size: 40px;
}
.singUpTitle button{
    font-size: 20px;
}
.singUpData{
    margin: 10px 20px;
    font-size: 30px;
}
.singUpData input{
    font-size: 30px;
    width: 95%;
    display: block;
}
.singUpData .notice{
    display: block;
    font-size: 15px;
    color: red;
    text-align: center;
}
.sumbit{
    position: relative;
    left: 50%;
    transform: translate(-50%);
    margin: 20px 0px;
    font-size: 25px;
    color: white;
    background-color: #1e9e6f;
    border-width: 0px;
}
.sumbit:hover{
    background-color: rgb(27, 136, 27);
    border-color: black;
    border-width: 1px;
    border-style: solid;
}
.link{
    background-color:rgba(255, 255, 255, 0.6);
    border-color: #059862;
    border-style: solid;
    border-width: 2px;
}
.link:hover{
    background-color:#059862;
    text-decoration:none;
}
.linktext{
    text-decoration:none;
    color: black;
}
.linktext:hover{
    text-decoration:none;
    color: white;
}